h1{
	color: #ccc;
	text-align: center;
	float: none;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 40px;
	font-size: 65px;

}

#contenedor {
	width: 400px;
	height: 400px;
	margin: auto;
	margin-top: 40px;
}

#contenedor2 {
	width: 400px;
}

#contenedor3 {
	width: 400px;
	height: 480px;
	margin-left: 40px;
	margin-top: 40px;
}

#caja-contador {
	width: 100%;
	float: none;
	font-size: 30px;
	margin-bottom: 20px;
	color: #fff;
	margin-left: 35px;
}

#contadorX, #contadorO {
	width: 85%;
	border-radius: 3px;
	margin-bottom: 3px;
	border: 2px solid #898989;
}

#xTitle, #oTitle {
	background: #dcdcdc;
	border: 1px solid #dcdcdc;
}

#xVeces, #oVeces {
	float: right;
	background: #dcdcdc;
	text-align: center;
}

#xWins, #oWins{
	color: #ccc;
	text-align: center;
}

.botones {
	float: none;
	padding: 0;
	list-style: none;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 15px;
	color: #ccc;
	height: 120px;
	line-height: 120px;
	font-size: 80px;
	border-radius: 12px;
	border-style: groove;
	border-width: 4.5px;
	width: 100px;
}

#restart {
	float: none;
	text-align: center;
	font-size: 40px;
	border-radius: 12px;
	line-height:80px;
	border-style: groove;
	width: 85%;
	background: #c6c6c6;
	color: white;
	border-width: 4.5px;
	margin-left: 40px;
}